<%- include("../partials/header") %>

<div class="container">
	<h1 style="text-align: center; margin: 25px auto;">
		Add New Comment to <%= campground.name %>
	</h1>
	
	<div class="mx-auto" style="width: 500px; margin: 25px auto;">
		<form action="/campgrounds/<%= campground._id%>/comments" method="POST">

				<div class="form-group">
				</div>
				<div class="form-group">
					<label for="campgroundDescription">Comment</label>
					<input type="text" class="form-control" name="comment[text]" placeholder="Comment">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<a class="btn btn-primary" href="/campgrounds">Back</a>
		</form>
	</div>
</div>







<%- include("../partials/footer") %>